.sec__01 {
  width: 100vw;
  height: 100vh;

  background-color: var(--main--bg--color);
  font-family: "IAMAPLAYER";

  color: var(--main--font--color);
}

.sec__01 > .contents {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}

.intro {
  display: flex;
  justify-content: space-between;
  padding: 75px 0;
}

.intro__left {
  border-top: 2px solid var(--sub--title--color);
  padding-top: 20px;
}

.course-name {
  font-size: 25px;
  padding-right: 100px;

  display: flex;
  gap: 20px;
}

.navLink {
  width: 60%;
}

.linkCard {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.navLink > .linkCard > li {
  border-top: 2px solid var(--sub--title--color);
  padding-top: 20px;

  width: 50%;

  transition: all 0.4s;
}

.navLink > .linkCard > li:hover {
  border-top: 3px solid var(--sub--highlight--color);
  transform: translate(50px 100px);
}
