footer {
  width: 100vw;
  height: 10vh;
  background-color: var(--main--bg--color);
  color: var(--sub--footer--color);
  font-family: "IAMAPLAYER";

  padding: 0 100px;
}

footer > .contents {
  width: 100%;
  height: 100%;
  max-width: 1400px;
  margin: 0 auto;

  padding-top: 30px;
}

.footer__wrap {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__wrap > .icons {
  display: flex;
  gap: 15px;
  font-size: 18px;
}
