@font-face {
  font-family: "Cafe24Ohsquareair";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2202@1.0/Cafe24Ohsquareair.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "IAMAPLAYER";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/IAMAPLAYER.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  /* 색상 */
  --main--bg--color: #202020;
  --main--font--color: #fcfcfc;

  /* 보조 색상 */
  --sub--title--color: #505050;
  --sub--footer--color: #60646c;

  /* 하이라이트 색상상 */
  --sub--highlight--color: #654dc4;
}
